* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #0d343a;
  overflow: hidden;
}

h2 {
  font-size: 20px;
  color: #0e3742;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  animation: animate 4s linear infinite;
  border-radius: 20px;
}

@keyframes animate {
  0%
  {
    color: #0e3742;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}

.container {
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 40px;
  background: #0c101c;
  text-align: center;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #202b31;
}

input {
  height: 80px;
  width: 270px;
  background: #202b31;
  color: #fff;
  border-radius: 20px;
  text-align: end;
  margin: auto;
  font-size: 50px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 68px);
  grid-column: span 4;
}

button {
  height: 50px;
  width: 50px;
  background-color: #202b31;
  color: #fff;
  border-radius: 35%;
  font-size: 16px;
  margin: 8px;
}

.color1 {
  background: #27caca;
  color: black;
}

.color2 {
  background: #4c6965;
}

button:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.8s;
}

.color1:hover {
  background: #4c6965;
}

.color2:hover {
  background: #2bcfcf;
}
